_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
!ls -lh *.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh *.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

### departments

In [0]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

In [0]:
!free -m

### orders

In [0]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

### products

In [0]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

In [0]:
order_products.isna().sum()

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders.head(1)

In [0]:
columns = ['order_id',	'user_id',	'order_number',	'order_dow',	'order_hour_of_day']
subset = orders.loc[(orders.user_id == 1) & (orders.order_number <= 2), columns]
subset

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
display(example)

Merge with columns from `products`

In [0]:
merged = pd.merge(subset, order_products[['order_id', 'add_to_cart_order', 'product_id']], how='left', on='order_id')
merged.head(10)

In [0]:
subset.shape, order_products.shape, merged.shape

In [0]:
products.head(1)

In [0]:
final = pd.merge(merged, products[['product_id',	'product_name']], how='left', on='product_id')

In [0]:
final

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1

In [0]:
table1.columns

In [0]:
table1 = table1.reset_index()
table1

In [0]:
tidy = table1.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index':'name', 'variable': 'trt', 'value': 'result'})
tidy['trt'] = tidy.trt.str.replace('treatment', '')
tidy

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
wide = tidy.pivot_table(values='result', index='name', columns='trt')
wide

## Tidy --> Table 2

In [0]:
##### LEAVE BLANK --an assignment exercise #####

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = ['Half And Half Ultra Pasteurized', 'Half Baked Frozen Yogurt']

In [0]:
products.columns.to_list()

In [0]:
orders.columns.to_list()

In [0]:
order_products.columns.to_list()

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['product_id', 'order_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))
merged

In [0]:
condition = ((merged['product_name'] == product_names[0]) |
            (merged['product_name'] == product_names[1]))

# Other approach that works
condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
subset.groupby('order_hour_of_day').product_name.value_counts().unstack().plot()

### 2. crosstab

In [0]:
pd.crosstab(subset['order_hour_of_day'], subset['product_name'], normalize='columns').plot()

### 3. Pivot Table

In [0]:
subset.pivot_table(index='order_hour_of_day', columns='product_name')

### 4. melt

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

### Join Data Section

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
import pandas as pd
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

In [0]:
merged = (products[['product_id', 'product_name']].merge(order_products[['product_id', 'order_id', 'add_to_cart_order']]))
merged.head()

In [0]:
# So technically, these items were added to the cart more; however, some of them were not ordered more than other items.
merged.groupby('product_name').add_to_cart_order.sum().sort_values(ascending=False)[:10]

In [0]:
merged.product_name.value_counts()[:10]

In [0]:
product_names = ['Banana',
'Bag of Organic Bananas',
'Organic Strawberries',
'Organic Baby Spinach',
'Organic Hass Avocado',
'Organic Avocado',
'Large Lemon',
'Strawberries',
'Limes',
'Organic Whole Milk']

In [0]:
condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

In [0]:
subset.groupby('product_name').add_to_cart_order.sum().sort_values(ascending=False)[:10]

### Reshape Data Section

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

In [0]:
table2

In [0]:
table2 = table2.reset_index()
table2

In [0]:
tidy = table2.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index': 'trt', 'variable': 'name', 'value': 'result'})
tidy

In [0]:
tidy['trt'] = tidy.trt.str.replace('treatment', '')
tidy

In [0]:
# Now lets use pivot table
wide = tidy.pivot_table(values='result', index='trt', columns='name')
wide

### Seaborn flights data

In [0]:
flights = sns.load_dataset('flights')

In [0]:
flights

In [0]:
flights = flights.pivot_table(index='year', columns='month')
flights

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-07-27 03:39:57--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.205.109
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.205.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.3’

instacart_online_gr 100%[===================>] 196.03M  79.7MB/s    in 2.5s

2019-07-27 03:39:59 (79.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.3’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
import pandas as pd
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [5]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [7]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [9]:
df = (products[['product_id', 'product_name']]
      .merge(order_products[['product_id', 'order_id', 'add_to_cart_order']])
      .merge(orders[['order_id', 'order_hour_of_day']]))
print(df.shape)
df.head()

(33819106, 5)

   product_id                product_name  ...  add_to_cart_order  order_hour_of_day
0           1  Chocolate Sandwich Cookies  ...                  7                 11
1         769      Sliced American Cheese  ...                 10                 11
2        6184                 Clementines  ...                 14                 11
3        8048     Packaged Grape Tomatoes  ...                 15                 11
4        9007              Frosted Flakes  ...                 17                 11

[5 rows x 5 columns]

In [0]:
# Now we can simplify our dataset by getting all items
# that have been ordered more than 2900 times

# Here we have test = list of number of orders 
# values = product name for each order
test = df.product_name.value_counts().tolist()
values = df.product_name.value_counts().keys().tolist()

all_orders = [[x, y] for x, y in zip(values, test)]

all_orders = pd.DataFrame(all_orders, columns=['item','orders'])

# this returns all items that have been ordered more than 2900 times in the dataset
over_2900 = all_orders[all_orders.orders > 2900]

In [22]:
# Now we need to subset our original dataframe, so we'll make a list of the products 
# that have been ordered over 2900 times and pass that as a condition for our original dataframe

product_names = over_2900.item.tolist()

condition = df['product_name'].isin(product_names)

subset = df[condition]
print(subset.shape)
subset.head()

(22450886, 5)

   product_id  ... order_hour_of_day
2        6184  ...                11
3        8048  ...                11
6       12078  ...                11
7       13176  ...                11
8       16797  ...                11

[5 rows x 5 columns]

In [12]:
subset.product_name.nunique()

2051

In [23]:
# need to do some tidy stuff here

subset = subset.sort_values(['order_hour_of_day', 'product_name'], ascending=[True, True])
subset.head()

          product_id  ... order_hour_of_day
1578199        49517  ...                 0
3065071        49517  ...                 0
3172480        49517  ...                 0
9866910        49517  ...                 0
12095995       49517  ...                 0

[5 rows x 5 columns]

In [24]:
# okay, now we need to count the number of product orders for each hour in the day

subset['count'] = subset.groupby(['order_hour_of_day', 'product_name'])['order_id'].transform('count')
subset.head(30)

          product_id              product_name  ...  order_hour_of_day  count
1578199        49517  0% Fat Free Organic Milk  ...                  0     26
3065071        49517  0% Fat Free Organic Milk  ...                  0     26
3172480        49517  0% Fat Free Organic Milk  ...                  0     26
9866910        49517  0% Fat Free Organic Milk  ...                  0     26
12095995       49517  0% Fat Free Organic Milk  ...                  0     26
12252393       49517  0% Fat Free Organic Milk  ...                  0     26
14054857       49517  0% Fat Free Organic Milk  ...                  0     26
14102892       49517  0% Fat Free Organic Milk  ...                  0     26
15494785       49517  0% Fat Free Organic Milk  ...                  0     26
16340488       49517  0% Fat Free Organic Milk  ...                  0     26
16340895       49517  0% Fat Free Organic Milk  ...                  0     26
19116844       49517  0% Fat Free Organic Milk  ...                  0     26
20128261       49517  0% Fat Free Organic Milk  ...                  0     26
20298107       49517  0% Fat Free Organic Milk  ...                  0     26
20324603       49517  0% Fat Free Organic Milk  ...                  0     26
24570149       49517  0% Fat Free Organic Milk  ...                  0     26
27634858       49517  0% Fat Free Organic Milk  ...                  0     26
28962440       49517  0% Fat Free Organic Milk  ...                  0     26
29032490       49517  0% Fat Free Organic Milk  ...                  0     26
29054610       49517  0% Fat Free Organic Milk  ...                  0     26
29317066       49517  0% Fat Free Organic Milk  ...                  0     26
31693515       49517  0% Fat Free Organic Milk  ...                  0     26
31904990       49517  0% Fat Free Organic Milk  ...                  0     26
33594153       49517  0% Fat Free Organic Milk  ...                  0     26
33698983       49517  0% Fat Free Organic Milk  ...                  0     26
33738747       49517  0% Fat Free Organic Milk  ...                  0     26
487            38928  0% Greek Strained Yogurt  ...                  0     48
10323          38928  0% Greek Strained Yogurt  ...                  0     48
1183669        38928  0% Greek Strained Yogurt  ...                  0     48
1205669        38928  0% Greek Strained Yogurt  ...                  0     48

[30 rows x 6 columns]

In [25]:
subset.tail(60)

          product_id  ... count
32486437       36107  ...    48
32794634       36107  ...    48
33526028       36107  ...    48
33729453       36107  ...    48
33729685       36107  ...    48
7193           13042  ...    55
12521          13042  ...    55
16101          13042  ...    55
1040376        13042  ...    55
1191556        13042  ...    55
1195428        13042  ...    55
1202797        13042  ...    55
1761766        13042  ...    55
1857792        13042  ...    55
6302910        13042  ...    55
8034744        13042  ...    55
11835822       13042  ...    55
14275865       13042  ...    55
14630557       13042  ...    55
16668065       13042  ...    55
16773245       13042  ...    55
16783860       13042  ...    55
16797782       13042  ...    55
18054372       13042  ...    55
19179917       13042  ...    55
19317700       13042  ...    55
19645651       13042  ...    55
19804722       13042  ...    55
21140349       13042  ...    55
21145139       13042  ...    55
23347904       13042  ...    55
24643130       13042  ...    55
24651518       13042  ...    55
25732112       13042  ...    55
26553874       13042  ...    55
26795777       13042  ...    55
27849915       13042  ...    55
27861294       13042  ...    55
28678439       13042  ...    55
28693333       13042  ...    55
28729405       13042  ...    55
28842818       13042  ...    55
29904782       13042  ...    55
29905944       13042  ...    55
30022375       13042  ...    55
30752602       13042  ...    55
30754759       13042  ...    55
30893015       13042  ...    55
31153820       13042  ...    55
31154221       13042  ...    55
31154359       13042  ...    55
31154823       13042  ...    55
31155016       13042  ...    55
31155053       13042  ...    55
31155216       13042  ...    55
31155632       13042  ...    55
31156061       13042  ...    55
31156185       13042  ...    55
31156821       13042  ...    55
31156876       13042  ...    55

[60 rows x 6 columns]

In [16]:
subset[subset['order_hour_of_day'] == 2][:50]

          product_id              product_name  ...  order_hour_of_day  count
4168214        49517  0% Fat Free Organic Milk  ...                  2      4
6850404        49517  0% Fat Free Organic Milk  ...                  2      4
13339207       49517  0% Fat Free Organic Milk  ...                  2      4
32908972       49517  0% Fat Free Organic Milk  ...                  2      4
1185441        38928  0% Greek Strained Yogurt  ...                  2     14
1666812        38928  0% Greek Strained Yogurt  ...                  2     14
1740274        38928  0% Greek Strained Yogurt  ...                  2     14
1882670        38928  0% Greek Strained Yogurt  ...                  2     14
19316841       38928  0% Greek Strained Yogurt  ...                  2     14
20375991       38928  0% Greek Strained Yogurt  ...                  2     14
23057000       38928  0% Greek Strained Yogurt  ...                  2     14
30622018       38928  0% Greek Strained Yogurt  ...                  2     14
30910112       38928  0% Greek Strained Yogurt  ...                  2     14
32858062       38928  0% Greek Strained Yogurt  ...                  2     14
33078144       38928  0% Greek Strained Yogurt  ...                  2     14
33571621       38928  0% Greek Strained Yogurt  ...                  2     14
33688791       38928  0% Greek Strained Yogurt  ...                  2     14
33755783       38928  0% Greek Strained Yogurt  ...                  2     14
4339183         5428                   1 Liter  ...                  2     15
5048943         5428                   1 Liter  ...                  2     15
11108715        5428                   1 Liter  ...                  2     15
12608689        5428                   1 Liter  ...                  2     15
15254293        5428                   1 Liter  ...                  2     15
15825517        5428                   1 Liter  ...                  2     15
16172834        5428                   1 Liter  ...                  2     15
23143877        5428                   1 Liter  ...                  2     15
23656214        5428                   1 Liter  ...                  2     15
23659367        5428                   1 Liter  ...                  2     15
23662014        5428                   1 Liter  ...                  2     15
23665181        5428                   1 Liter  ...                  2     15
23665481        5428                   1 Liter  ...                  2     15
23665605        5428                   1 Liter  ...                  2     15
23667484        5428                   1 Liter  ...                  2     15
197441         31981           1% Low Fat Milk  ...                  2     29
714324         31981           1% Low Fat Milk  ...                  2     29
1536519        31981           1% Low Fat Milk  ...                  2     29
2920404        31981           1% Low Fat Milk  ...                  2     29
3532783        31981           1% Low Fat Milk  ...                  2     29
3535517        31981           1% Low Fat Milk  ...                  2     29
3631151        31981           1% Low Fat Milk  ...                  2     29
4723348        31981           1% Low Fat Milk  ...                  2     29
4876185        31981           1% Low Fat Milk  ...                  2     29
5102437        31981           1% Low Fat Milk  ...                  2     29
5218728        31981           1% Low Fat Milk  ...                  2     29
5673443        31981           1% Low Fat Milk  ...                  2     29
6076577        31981           1% Low Fat Milk  ...                  2     29
6819995        31981           1% Low Fat Milk  ...                  2     29
7180181        31981           1% Low Fat Milk  ...                  2     29
11298816       31981           1% Low Fat Milk  ...                  2     29
12871994       31981           1% Low Fat Milk  ...                  2     29

[50 rows x 6 columns]

Looks like count is working correctly

In [26]:
subset = subset.drop(['order_id', 'add_to_cart_order'], axis = 1)
subset = subset.drop_duplicates()
subset.head()

         product_id              product_name  order_hour_of_day  count
1578199       49517  0% Fat Free Organic Milk                  0     26
487           38928  0% Greek Strained Yogurt                  0     48
1533665        5428                   1 Liter                  0     33
714437        31981           1% Low Fat Milk                  0     71
388367        24024            1% Lowfat Milk                  0     95

In [34]:
subset['percent'] = (subset['count'] / (subset.groupby('order_hour_of_day')['count'].transform('sum')))
subset.head()

         product_id              product_name  ...  count   percent
1578199       49517  0% Fat Free Organic Milk  ...     26  0.000174
487           38928  0% Greek Strained Yogurt  ...     48  0.000322
1533665        5428                   1 Liter  ...     33  0.000221
714437        31981           1% Low Fat Milk  ...     71  0.000476
388367        24024            1% Lowfat Milk  ...     95  0.000636

[5 rows x 5 columns]

In [63]:
subset['product_orders_total'] = "NaN"
#subset.groupby('product_name')['count'].transform('sum')
subset.head()

         product_id              product_name  ...   percent  product_orders_total
1578199       49517  0% Fat Free Organic Milk  ...  0.000174                   NaN
487           38928  0% Greek Strained Yogurt  ...  0.000322                   NaN
1533665        5428                   1 Liter  ...  0.000221                   NaN
714437        31981           1% Low Fat Milk  ...  0.000476                   NaN
388367        24024            1% Lowfat Milk  ...  0.000636                   NaN

[5 rows x 6 columns]

In [67]:
early = subset[subset['order_hour_of_day'] < 12]
late = subset[subset['order_hour_of_day'] >= 12]

early['product_orders_total'] = early.groupby('product_name')['count'].transform('sum')
late['product_orders_total'] = late.groupby('product_name')['count'].transform('sum')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [68]:
early.sort_values('product_orders_total', ascending=False)['product_name'].unique().tolist()[:25]

['Banana',
 'Bag of Organic Bananas',
 'Organic Strawberries',
 'Organic Baby Spinach',
 'Organic Hass Avocado',
 'Organic Avocado',
 'Large Lemon',
 'Strawberries',
 'Organic Raspberries',
 'Organic Whole Milk',
 'Limes',
 'Organic Yellow Onion',
 'Organic Garlic',
 'Organic Zucchini',
 'Organic Blueberries',
 'Organic Fuji Apple',
 'Cucumber Kirby',
 'Organic Half & Half',
 'Apple Honeycrisp Organic',
 'Seedless Red Grapes',
 'Organic Lemon',
 'Honeycrisp Apple',
 'Organic Grape Tomatoes',
 'Sparkling Water Grapefruit',
 'Organic Baby Carrots']

In [70]:
late.sort_values('product_orders_total', ascending=False)['product_name'].unique().tolist()[:25]

['Banana',
 'Bag of Organic Bananas',
 'Organic Strawberries',
 'Organic Baby Spinach',
 'Organic Hass Avocado',
 'Organic Avocado',
 'Large Lemon',
 'Limes',
 'Strawberries',
 'Organic Whole Milk',
 'Organic Raspberries',
 'Organic Yellow Onion',
 'Organic Garlic',
 'Organic Zucchini',
 'Organic Blueberries',
 'Cucumber Kirby',
 'Organic Lemon',
 'Organic Grape Tomatoes',
 'Organic Fuji Apple',
 'Organic Cucumber',
 'Apple Honeycrisp Organic',
 'Seedless Red Grapes',
 'Honeycrisp Apple',
 'Organic Baby Carrots',
 'Yellow Onions']