_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
!ls -lh *.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh *.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

### departments

In [0]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

In [0]:
!free -m

### orders

In [0]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

### products

In [0]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

In [0]:
order_products.isna().sum()

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders.head(1)

In [0]:
columns = ['order_id',	'user_id',	'order_number',	'order_dow',	'order_hour_of_day']
subset = orders.loc[(orders.user_id == 1) & (orders.order_number <= 2), columns]
subset

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
display(example)

Merge with columns from `products`

In [0]:
merged = pd.merge(subset, order_products[['order_id', 'add_to_cart_order', 'product_id']], how='left', on='order_id')
merged.head(10)

In [0]:
subset.shape, order_products.shape, merged.shape

In [0]:
products.head(1)

In [0]:
final = pd.merge(merged, products[['product_id',	'product_name']], how='left', on='product_id')

In [0]:
final

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1

In [0]:
table1.columns

In [0]:
table1 = table1.reset_index()
table1

In [0]:
tidy = table1.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index':'name', 'variable': 'trt', 'value': 'result'})
tidy['trt'] = tidy.trt.str.replace('treatment', '')
tidy

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
wide = tidy.pivot_table(values='result', index='name', columns='trt')
wide

## Tidy --> Table 2

In [0]:
##### LEAVE BLANK --an assignment exercise #####

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = ['Half And Half Ultra Pasteurized', 'Half Baked Frozen Yogurt']

In [0]:
products.columns.to_list()

In [0]:
orders.columns.to_list()

In [0]:
order_products.columns.to_list()

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['product_id', 'order_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))
merged

In [0]:
condition = ((merged['product_name'] == product_names[0]) |
            (merged['product_name'] == product_names[1]))

# Other approach that works
condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
subset.groupby('order_hour_of_day').product_name.value_counts().unstack().plot()

### 2. crosstab

In [0]:
pd.crosstab(subset['order_hour_of_day'], subset['product_name'], normalize='columns').plot()

### 3. Pivot Table

In [0]:
subset.pivot_table(index='order_hour_of_day', columns='product_name')

### 4. melt

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

### Join Data Section

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
import pandas as pd
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

In [0]:
merged = (products[['product_id', 'product_name']].merge(order_products[['product_id', 'order_id', 'add_to_cart_order']]))
merged.head()

In [0]:
# So technically, these items were added to the cart more; however, some of them were not ordered more than other items.
merged.groupby('product_name').add_to_cart_order.sum().sort_values(ascending=False)[:10]

In [0]:
merged.product_name.value_counts()[:10]

In [0]:
product_names = ['Banana',
'Bag of Organic Bananas',
'Organic Strawberries',
'Organic Baby Spinach',
'Organic Hass Avocado',
'Organic Avocado',
'Large Lemon',
'Strawberries',
'Limes',
'Organic Whole Milk']

In [0]:
condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

In [0]:
subset.groupby('product_name').add_to_cart_order.sum().sort_values(ascending=False)[:10]

### Reshape Data Section

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

In [0]:
table2

In [0]:
table2 = table2.reset_index()
table2

In [0]:
tidy = table2.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index': 'trt', 'variable': 'name', 'value': 'result'})
tidy

In [0]:
tidy['trt'] = tidy.trt.str.replace('treatment', '')
tidy

In [0]:
# Now lets use pivot table
wide = tidy.pivot_table(values='result', index='trt', columns='name')
wide

### Seaborn flights data

In [0]:
flights = sns.load_dataset('flights')

In [0]:
flights

In [0]:
flights = flights.pivot_table(index='year', columns='month')
flights

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-07-27 04:56:53--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.37.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.37.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  72.9MB/s    in 2.7s

2019-07-27 04:57:01 (72.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
import pandas as pd
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [5]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [7]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [9]:
df = (products[['product_id', 'product_name']]
      .merge(order_products[['product_id', 'order_id', 'add_to_cart_order']])
      .merge(orders[['order_id', 'order_hour_of_day']]))
print(df.shape)
df.head()

(33819106, 5)

   product_id                product_name  ...  add_to_cart_order  order_hour_of_day
0           1  Chocolate Sandwich Cookies  ...                  7                 11
1         769      Sliced American Cheese  ...                 10                 11
2        6184                 Clementines  ...                 14                 11
3        8048     Packaged Grape Tomatoes  ...                 15                 11
4        9007              Frosted Flakes  ...                 17                 11

[5 rows x 5 columns]

In [0]:
# Now we can simplify our dataset by getting all items
# that have been ordered more than 2900 times

# Here we have test = list of number of orders 
# values = product name for each order
test = df.product_name.value_counts().tolist()
values = df.product_name.value_counts().keys().tolist()

all_orders = [[x, y] for x, y in zip(values, test)]

all_orders = pd.DataFrame(all_orders, columns=['item','orders'])

# this returns all items that have been ordered more than 2900 times in the dataset
over_2900 = all_orders[all_orders.orders > 2900]

In [11]:
# Now we need to subset our original dataframe, so we'll make a list of the products 
# that have been ordered over 2900 times and pass that as a condition for our original dataframe

product_names = over_2900.item.tolist()

condition = df['product_name'].isin(product_names)

subset = df[condition]
print(subset.shape)
subset.head()

(22450886, 5)

   product_id  ... order_hour_of_day
2        6184  ...                11
3        8048  ...                11
6       12078  ...                11
7       13176  ...                11
8       16797  ...                11

[5 rows x 5 columns]

In [12]:
subset.product_name.nunique()

2051

In [13]:
# need to do some tidy stuff here

subset = subset.sort_values(['order_hour_of_day', 'product_name'], ascending=[True, True])
subset.head()

          product_id  ... order_hour_of_day
1578199        49517  ...                 0
3065071        49517  ...                 0
3172480        49517  ...                 0
9866910        49517  ...                 0
12095995       49517  ...                 0

[5 rows x 5 columns]

In [14]:
# okay, now we need to count the number of product orders for each hour in the day

subset['count'] = subset.groupby(['order_hour_of_day', 'product_name'])['order_id'].transform('count')
subset.head(1)

         product_id              product_name  ...  order_hour_of_day  count
1578199       49517  0% Fat Free Organic Milk  ...                  0     26

[1 rows x 6 columns]

In [15]:
subset.tail(1)

          product_id                product_name  ...  order_hour_of_day  count
31156876       13042  with Crispy Almonds Cereal  ...                 23     55

[1 rows x 6 columns]

In [16]:
subset[subset['order_hour_of_day'] == 2][:1]

         product_id              product_name  ...  order_hour_of_day  count
4168214       49517  0% Fat Free Organic Milk  ...                  2      4

[1 rows x 6 columns]

Looks like count is working correctly

In [17]:
subset = subset.drop(['order_id', 'add_to_cart_order'], axis = 1)
subset = subset.drop_duplicates()
subset.head()

         product_id              product_name  order_hour_of_day  count
1578199       49517  0% Fat Free Organic Milk                  0     26
487           38928  0% Greek Strained Yogurt                  0     48
1533665        5428                   1 Liter                  0     33
714437        31981           1% Low Fat Milk                  0     71
388367        24024            1% Lowfat Milk                  0     95

In [18]:
subset['percent'] = (subset['count'] / (subset.groupby('order_hour_of_day')['count'].transform('sum')))
subset.head()

         product_id              product_name  ...  count   percent
1578199       49517  0% Fat Free Organic Milk  ...     26  0.000174
487           38928  0% Greek Strained Yogurt  ...     48  0.000322
1533665        5428                   1 Liter  ...     33  0.000221
714437        31981           1% Low Fat Milk  ...     71  0.000476
388367        24024            1% Lowfat Milk  ...     95  0.000636

[5 rows x 5 columns]

In [19]:
subset['product_orders_total'] = "NaN"
#subset.groupby('product_name')['count'].transform('sum')
subset.head()

         product_id              product_name  ...   percent  product_orders_total
1578199       49517  0% Fat Free Organic Milk  ...  0.000174                   NaN
487           38928  0% Greek Strained Yogurt  ...  0.000322                   NaN
1533665        5428                   1 Liter  ...  0.000221                   NaN
714437        31981           1% Low Fat Milk  ...  0.000476                   NaN
388367        24024            1% Lowfat Milk  ...  0.000636                   NaN

[5 rows x 6 columns]

In [24]:
early = subset[subset['order_hour_of_day'] == 10]
late = subset[subset['order_hour_of_day'] == 16]

early['product_orders_total'] = early.groupby('product_name')['count'].transform('sum')
late['product_orders_total'] = late.groupby('product_name')['count'].transform('sum')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [25]:
early.sort_values('percent', ascending=False)['product_name'].unique().tolist()[:25]

['Banana',
 'Bag of Organic Bananas',
 'Organic Strawberries',
 'Organic Baby Spinach',
 'Organic Hass Avocado',
 'Organic Avocado',
 'Large Lemon',
 'Strawberries',
 'Limes',
 'Organic Raspberries',
 'Organic Whole Milk',
 'Organic Yellow Onion',
 'Organic Garlic',
 'Organic Zucchini',
 'Organic Fuji Apple',
 'Organic Blueberries',
 'Organic Half & Half',
 'Cucumber Kirby',
 'Seedless Red Grapes',
 'Sparkling Water Grapefruit',
 'Organic Lemon',
 'Apple Honeycrisp Organic',
 'Honeycrisp Apple',
 'Organic Grape Tomatoes',
 'Half & Half']

In [27]:
late.sort_values('percent', ascending=False)['product_name'].unique().tolist()[:25]

['Banana',
 'Bag of Organic Bananas',
 'Organic Strawberries',
 'Organic Baby Spinach',
 'Organic Hass Avocado',
 'Organic Avocado',
 'Large Lemon',
 'Limes',
 'Strawberries',
 'Organic Raspberries',
 'Organic Whole Milk',
 'Organic Yellow Onion',
 'Organic Garlic',
 'Organic Zucchini',
 'Cucumber Kirby',
 'Organic Blueberries',
 'Organic Lemon',
 'Organic Fuji Apple',
 'Organic Grape Tomatoes',
 'Organic Cucumber',
 'Apple Honeycrisp Organic',
 'Seedless Red Grapes',
 'Sparkling Water Grapefruit',
 'Honeycrisp Apple',
 'Organic Baby Arugula']

In [30]:
early.sort_values('percent', ascending=False)

        product_id  ... product_orders_total
1284         24852  ...                42234
420          13176  ...                33063
24123        21137  ...                21995
1378         21903  ...                20566
21396        47209  ...                17847
20230        47766  ...                15027
24010        47626  ...                13764
792          16797  ...                12763
19654        26209  ...                12454
21574        27966  ...                11937
3243         27845  ...                11764
19584        22935  ...                10029
19653        24964  ...                 9576
20228        45007  ...                 8870
4384         28204  ...                 8780
1385         39275  ...                 8779
805          49235  ...                 8314
24832        49683  ...                 8006
2428          4920  ...                 7681
2145         44632  ...                 7655
19540         5876  ...                 7588
38087         8277  ...                 7549
36696        45066  ...                 7338
19657        40706  ...                 7219
39313        27086  ...                 7156
803          42265  ...                 6975
19291        30391  ...                 6814
19469        37646  ...                 6624
4374          4605  ...                 6501
2160         19057  ...                 6464
...            ...  ...                  ...
473388       45767  ...                  221
212285       38533  ...                  221
225629       22620  ...                  221
478187       17747  ...                  221
249060        1359  ...                  219
24125        23650  ...                  219
121666       30385  ...                  218
23004        19154  ...                  217
127505       19046  ...                  217
38358         5383  ...                  217
132309       18908  ...                  216
75441        19613  ...                  216
339453        4097  ...                  215
86009        39719  ...                  215
233676       22827  ...                  214
71374        11090  ...                  212
38089         9290  ...                  212
94755        45368  ...                  212
57646        35946  ...                  211
463256        3835  ...                  210
113913       36717  ...                  208
386604       37193  ...                  207
767918       41618  ...                  206
21394        34458  ...                  206
95231         5933  ...                  200
45666        38003  ...                  191
30177        43749  ...                  190
260049       14335  ...                  178
71376        30668  ...                  176
124633       45541  ...                  161

[2051 rows x 6 columns]

In [31]:
late.sort_values('percent', ascending=False)

         product_id  ... product_orders_total
1666          24852  ...                38350
1564          13176  ...                30507
9958          21137  ...                21551
957           21903  ...                19515
19436         47209  ...                17588
24373         47766  ...                14901
24241         47626  ...                12742
6829          26209  ...                11837
1485          16797  ...                11341
21958         27966  ...                10810
2615          27845  ...                10433
19715         22935  ...                 9322
37141         24964  ...                 9191
19160         45007  ...                 8590
28192         49683  ...                 8154
3935          39275  ...                 7908
35006          5876  ...                 7363
1445          28204  ...                 7025
23135         40706  ...                 6975
19719         30391  ...                 6850
23056          8277  ...                 6688
1546           4920  ...                 6537
24075         44632  ...                 6401
40927         45066  ...                 6395
1435          21616  ...                 6312
19778          4605  ...                 6191
3365          42265  ...                 6039
18986         19057  ...                 5957
4700          49235  ...                 5817
19797         37646  ...                 5810
...             ...  ...                  ...
138010         2067  ...                  211
20192           481  ...                  211
292401        44787  ...                  210
525322        25371  ...                  210
50557          2238  ...                  210
405250         3835  ...                  209
56378         30192  ...                  209
54187         41148  ...                  209
46757          5380  ...                  209
151770        30597  ...                  209
27915         14996  ...                  209
242819         2717  ...                  208
196130          283  ...                  207
1116420       33827  ...                  205
19146         11130  ...                  204
400287        33316  ...                  203
62545         46575  ...                  203
872970        37919  ...                  202
29640         31960  ...                  202
342830        31504  ...                  200
187181         4812  ...                  196
6765          46931  ...                  195
236125        35734  ...                  194
25639         21131  ...                  193
116552        39693  ...                  192
4686          13259  ...                  191
6282          39001  ...                  188
17695         40120  ...                  188
1030115       10441  ...                  183
1568          42282  ...                  175

[2051 rows x 6 columns]

In [56]:
test = subset.loc[subset.groupby('product_name')['percent'].idxmax()]
test

          product_id  ... product_orders_total
65934          49517  ...                  NaN
5247           38928  ...                  NaN
4339183         5428  ...                  NaN
197441         31981  ...                  NaN
191744         24024  ...                  NaN
102629         15902  ...                  NaN
3647206        35199  ...                  NaN
974538         37215  ...                  NaN
1205258        43867  ...                  NaN
484185         49610  ...                  NaN
481331         16768  ...                  NaN
1030686        18339  ...                  NaN
1859898        12606  ...                  NaN
1638491        34449  ...                  NaN
3725574         1069  ...                  NaN
86139          45840  ...                  NaN
120087         22142  ...                  NaN
79761           3957  ...                  NaN
7872219        34658  ...                  NaN
1135289          160  ...                  NaN
8988101        30290  ...                  NaN
1922218         8230  ...                  NaN
824547          8021  ...                  NaN
537613         29801  ...                  NaN
28452           5077  ...                  NaN
132134          1511  ...                  NaN
974535         23909  ...                  NaN
494622         40174  ...                  NaN
514829         35986  ...                  NaN
1240789        48642  ...                  NaN
...              ...  ...                  ...
12270899        6975  ...                  NaN
269254         37766  ...                  NaN
677881          2295  ...                  NaN
476142         10998  ...                  NaN
346058         12614  ...                  NaN
70619           4605  ...                  NaN
256294         36256  ...                  NaN
4215971        44514  ...                  NaN
2029600        19354  ...                  NaN
35968          22298  ...                  NaN
254827         22025  ...                  NaN
89976           5550  ...                  NaN
331246         46584  ...                  NaN
83841            895  ...                  NaN
185250         17630  ...                  NaN
38415          17600  ...                  NaN
321357         29594  ...                  NaN
92572          10831  ...                  NaN
44898          49628  ...                  NaN
160987         12745  ...                  NaN
861897         43662  ...                  NaN
98638           4962  ...                  NaN
1766284        10504  ...                  NaN
109457         16254  ...                  NaN
7088           10312  ...                  NaN
1734           46149  ...                  NaN
5921365        49198  ...                  NaN
98774          34160  ...                  NaN
388266         36107  ...                  NaN
500            13042  ...                  NaN

[2051 rows x 6 columns]

In [57]:
test = pd.DataFrame(test)
test

          product_id  ... product_orders_total
65934          49517  ...                  NaN
5247           38928  ...                  NaN
4339183         5428  ...                  NaN
197441         31981  ...                  NaN
191744         24024  ...                  NaN
102629         15902  ...                  NaN
3647206        35199  ...                  NaN
974538         37215  ...                  NaN
1205258        43867  ...                  NaN
484185         49610  ...                  NaN
481331         16768  ...                  NaN
1030686        18339  ...                  NaN
1859898        12606  ...                  NaN
1638491        34449  ...                  NaN
3725574         1069  ...                  NaN
86139          45840  ...                  NaN
120087         22142  ...                  NaN
79761           3957  ...                  NaN
7872219        34658  ...                  NaN
1135289          160  ...                  NaN
8988101        30290  ...                  NaN
1922218         8230  ...                  NaN
824547          8021  ...                  NaN
537613         29801  ...                  NaN
28452           5077  ...                  NaN
132134          1511  ...                  NaN
974535         23909  ...                  NaN
494622         40174  ...                  NaN
514829         35986  ...                  NaN
1240789        48642  ...                  NaN
...              ...  ...                  ...
12270899        6975  ...                  NaN
269254         37766  ...                  NaN
677881          2295  ...                  NaN
476142         10998  ...                  NaN
346058         12614  ...                  NaN
70619           4605  ...                  NaN
256294         36256  ...                  NaN
4215971        44514  ...                  NaN
2029600        19354  ...                  NaN
35968          22298  ...                  NaN
254827         22025  ...                  NaN
89976           5550  ...                  NaN
331246         46584  ...                  NaN
83841            895  ...                  NaN
185250         17630  ...                  NaN
38415          17600  ...                  NaN
321357         29594  ...                  NaN
92572          10831  ...                  NaN
44898          49628  ...                  NaN
160987         12745  ...                  NaN
861897         43662  ...                  NaN
98638           4962  ...                  NaN
1766284        10504  ...                  NaN
109457         16254  ...                  NaN
7088           10312  ...                  NaN
1734           46149  ...                  NaN
5921365        49198  ...                  NaN
98774          34160  ...                  NaN
388266         36107  ...                  NaN
500            13042  ...                  NaN

[2051 rows x 6 columns]

In [58]:
test.sort_values(['order_hour_of_day', 'percent'], ascending=False)

         product_id  ... product_orders_total
10601         39275  ...                  NaN
839           12341  ...                  NaN
192431        34243  ...                  NaN
1039253        8571  ...                  NaN
63553          6104  ...                  NaN
275019        10017  ...                  NaN
125231        29662  ...                  NaN
33754          6187  ...                  NaN
7536          30720  ...                  NaN
207641        13646  ...                  NaN
67266         19019  ...                  NaN
76494         47788  ...                  NaN
186454        10644  ...                  NaN
67269         21543  ...                  NaN
368321        21573  ...                  NaN
476308         2228  ...                  NaN
233729        36724  ...                  NaN
39012         15649  ...                  NaN
39029         32429  ...                  NaN
397182        23236  ...                  NaN
375063        26128  ...                  NaN
207099        10603  ...                  NaN
40320         38650  ...                  NaN
34777         42495  ...                  NaN
211466        47492  ...                  NaN
255846        49478  ...                  NaN
228767        41259  ...                  NaN
88698          8239  ...                  NaN
133208         8736  ...                  NaN
464523         8490  ...                  NaN
...             ...  ...                  ...
1489858       26915  ...                  NaN
1147185       12419  ...                  NaN
734094        35510  ...                  NaN
1706735       42282  ...                  NaN
144535        45537  ...                  NaN
480           18615  ...                  NaN
961484        38596  ...                  NaN
178934        17747  ...                  NaN
235995         8006  ...                  NaN
2578937        7010  ...                  NaN
2472091        4269  ...                  NaN
399703        26242  ...                  NaN
899973         7649  ...                  NaN
300394         3835  ...                  NaN
440003        39732  ...                  NaN
1405055         343  ...                  NaN
2090231       33316  ...                  NaN
2186934       14371  ...                  NaN
661249        15040  ...                  NaN
178978         8903  ...                  NaN
489346        19446  ...                  NaN
1164960        5390  ...                  NaN
858623        33929  ...                  NaN
758650        28931  ...                  NaN
481331        16768  ...                  NaN
3227150        5684  ...                  NaN
3875269       21070  ...                  NaN
2231460       20169  ...                  NaN
815050        48110  ...                  NaN
1415384       32369  ...                  NaN

[2051 rows x 6 columns]

In [62]:
# For each product in product_orders_by_hour, group by the average hour sum(order hour x # orders for hour)/total orders


test = subset.groupby('product_name')
test.agg(test)

KeyError: ignored